@(username: String)(roomname: String)(host: String)

@main(username) {
    
    <div class="page-header">
        <h1>GAME ROOM: @roomname<small>You are chatting as @username</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>
        <div class="span4">
            <h2>Members</h2>
            <ul id="members">
            </ul>
        </div>
    </div>
	
	@if(host == username) {
	  <button id="play" class="play" type="submit">Play</button><br />	
	}
	
	<br />
	
	<form action="@routes.Application.reLobby()" class="pull-right">
	  <button id="leave" class="leave" type="submit">Leave</button><br />
	</form>
	
	<button id="configuration" class="configuration" type="submit">ConfRoom</button><br />
    
	<script type="text/javascript" src="@routes.Assets.at("javascripts/messages.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/receive.js")"></script>
    <script type="text/javascript" charset="utf-8" src="@routes.Application.gameRoomJs(username, host)"></script>
    
}